<div 
        style="position: fixed;left:0;top:0; width: 100vw; height: 100vh;z-index: -10; background-image: linear-gradient(rgb(243, 183, 183), white, rgb(206, 206, 247)); padding: 100px; padding-top: 200px;">
        <p class=" fs-4" style="text-align: justify;">
            Cette application permet de télécharger les fichiers livres à partir du site web Hindawi
           <a href="https://www.hindawi.org" target="_blank"> https://www.hindawi.org</a> </p>
        <p class=" fs-4" style="text-align: justify;">
            Les catégories des livres sont directement affichées ici dans la liste déroulante (codé en dur).
            Les fichiers téléchargés sont enregistrés au format ePub sur le serveur ObTIC à cette adresse:
            /home/osm/hindawi/files
            On peut ensuite les convertir au format texte à l'aide de Calibre ou Teinte...
        </p>
    </div>
