
/* loader 1 */
.loader {
  width: 32px;
  height: 32px;
  border: 3px solid rgb(20, 13, 112);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 10px;
  height: 10px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

  /* fin spinner */

  /* loader 2 */
  .loader1{
    display: block;
    position: relative;
    height: 20px;
    width: 140px;
    background-image: 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
  }
  
  @keyframes pgfill {
    0% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    25% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    50% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    75% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    100% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0); }
  }
  
      
  /* loader 2 */

  .download-btn{
    background: white;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .download-btn:hover{
    background: rgb(224, 224, 224);
  }

  .select{
    width: 460px;
    padding: 10px;
    height: 45px;
    border: 1px solid #999;
    background-color: rgba(238, 238, 238, 0.425);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  .download {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(52, 53, 53, 0.137);
}

.books{
  height: calc(100vh - 360px);
  overflow-y:scroll;
  /* border-radius: 10px;
  border: 2px solid; */
  margin-top: 10px;
  margin-bottom: 10px;

}

/* .books-scrol{
  overflow-y:scroll;
  border-radius: 10px;
  border: 2px solid;
} */

/* .books-scrol::-webkit-scrollbar {
  width: 12px;   
} */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcbdba; 
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #909aec; 
} */

.div-checkbox{
  border-radius: 10px;
  border:solid rgb(118, 141, 73) 2px;
  background: rgb(245, 245, 245);
}

.div-checkbox:hover{
  background: rgb(222, 222, 222);
}


